.coming-wrapper {
  background: url("/images/landingpage/comingsoon.jpg");
  min-height: 400px;
  overflow: auto;
  background-size: cover;
  background-position: top 20% center;
  display: flex;
  align-items: center;
  .v-btn__overlay{
    background-color: transparent !important;
  }
}

.coming-title {
  font-size: 30px;
  margin: 20px 0 15px;
}
