.product {
  .v-main {
    padding: 80px 0 0 !important;
  }

  .v-sheet {
    //background-color: $danger !important;
  }
}

@each $i in $border-radius-px {
  .p-br#{$i} {
    border-radius: #{$i}px;
  }

  .p-br#{$i}-imp {
    border-radius: #{$i}px !important;
  }
}

.language-select {
  .v-input__prepend-inner {
    margin-top: 10px !important;
    margin-right: 0 !important;
  }
}

.bg-danger-grediant {
  &__light {
    background: linear-gradient(90deg, #ff4d7ec9 0, #ff6a5b47);
  }
}

.cursor-pointer {
  cursor: pointer;
}
