.social-icons {
  a {
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    margin: 0 5px;
    transition: 0.2s ease-in;
    color: rgb(var(--v-theme-primary));
    background: rgb(var(--v-theme-light));
    &:hover {
      transform: translate3d(0px, -5px, 0px);
      background: rgb(var(--v-theme-blue));
      color: rgb(var(--v-theme-white));
    }
  }
}
